@import "vars";

body
{
  background: url('../images/bg.jpg') repeat;
}

.disable-selection()
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.cats-feed
{
  text-align: center;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;

  &__item
  {
    display: inline-block;
    text-align: left;
    width: 320px;
    margin: 0 40px;
    overflow: hidden;


    .info
    {
      font-size: 13px;
      color: #fff;
      text-shadow: 0 1px 1px #000;
      display: block;
      text-align: center;
      margin: 16px 0;
      a
      {
        color: @blue;
        border-bottom: 1px dashed;
        .disable-selection;
        &:hover
        {
          cursor: pointer;
          color: @light-blue;
        }
      }

      &.selected, &.disabled
      {
        display: none;
      }

      &.disabled
      {
        color: @yellow;
      }
    }

    section
    {
      .left-corner
      {
        height: 41px;
        background: @milk;
        width: 267px;
        margin-left: 45px;
        position: relative;
        border-top: 4px solid @blue;
        border-right: 4px solid @blue;
        border-radius: 0 10px 0 0;
        cursor: pointer;

        &__text
        {
          vertical-align: top;
          margin: 20px 0 10px 5px;
          font-size: 16px;
          color: @dark-grey;
          display: inline-block;

          .disable-selection;
          &.active
          {
            display: none;
          }
        }
        &:before {
          content: '';
          width: 45px;
          height: 45px;
          background: url('/images/corner.png') no-repeat 0 0;
          display: inline-block;
          position: absolute;
          left: -45px;
          top: -4px;
        }
      }

      .container
      {
        border-bottom: 4px solid @blue;
        border-right: 4px solid @blue;
        border-left: 4px solid @blue;
        border-radius: 0 0 10px 10px;
        width: 308px;
        z-index: 3;
        background: @milk;
        padding: 11px 0 0 0;
        position: relative;
        cursor: pointer;

        &__title
        {
          font-size: 48px;
          margin: 0 0 0 44px;
          font-weight: bold;

          .disable-selection;
        }

        &__filler
        {
          font-size: 24px;
          display: block;
        }

        &__options
        {
          margin: 16px 0 0 44px;
          min-height: 48px;
          .option
          {
            font-size: 14px;
            color: @dark-grey;
            display: block;

            .disable-selection;
          }
        }

        .cat {
          height: 268px;
          border-radius: 0 0 0 10px;
          margin: 36px 0 0 0;
          &__img {
            margin: 0;
            position: absolute;
            border-radius: 0 0 0 6px;

            .disable-selection;
          }
        }

        .weight {
          font-size: 21px;
          color: #fff;
          text-align: center;
          display: inline-block;
          position: absolute;
          bottom: 15px;
          right: 15px;
          background-color: @blue;
          width: 80px;
          height: 80px;
          border-radius: 100%;
          z-index: 1;

          .disable-selection;

          span {
            font-size: 42px;
            display: block;
            margin: 15px 0 0 0;
            line-height: 35px;
          }
        }

        &:hover {

        }

        &__filler {

        }
      }

      // Item conditions

      //Section :hover

      &:hover
      {
        .left-corner
        {
          border-top: 4px solid @light-blue;
          border-right: 4px solid @light-blue;
          &:before
          {
            background: url('/images/corner.png') no-repeat -45px 0;
          }
        }

        .container
        {
          border-bottom: 4px solid @light-blue;
          border-right: 4px solid @light-blue;
          border-left: 4px solid @light-blue;

          .weight
          {
            background-color: @light-blue;
          }
        }
      }
    }


    &.selected
    {
      // Item selected
      section
      {
        .container
        {
          border-bottom: 4px solid @pink;
          border-right: 4px solid @pink;
          border-left: 4px solid @pink;

          .weight
          {
            background-color: @pink;
          }


        }
        .left-corner
        {
          border-top: 4px solid @pink;
          border-right: 4px solid @pink;
          &:before
          {
            background: url('/images/corner.png') no-repeat -90px 0;
          }
        }



      }

      .info
      {
        display: none;
        &.selected
        {
          display: block;
        }
      }
    }

    // Item selected: pseudo hover

    &.selected-hover
    {
      .container
      {
        border-bottom: 4px solid @light-pink;
        border-right: 4px solid @light-pink;
        border-left: 4px solid @light-pink;
        .weight
        {
          background-color: @light-pink;
        }
      }

      .left-corner
      {
        border-top: 4px solid @light-pink;
        border-right: 4px solid @light-pink;

        &__text
        {
          color: @light-pink;
          display: none;
          &.selected
          {
            display: inline-block;
          }
        }

        &:before
        {
          background: url('/images/corner.png') no-repeat -135px 0;
        }
      }
    }

    &.disabled
    {
      // Item disabled
      section
      {
        .container
        {
          border-bottom: 4px solid @grey;
          border-right: 4px solid @grey;
          border-left: 4px solid @grey;

          .weight
          {
            background-color: @grey;
          }

          &__title
          {
            color: @light-grey;
          }

          &__filler
          {
            color: @light-grey;
          }

          &__options
          {
            .option
            {
              color: @light-grey;
            }
          }
          
          .cat
          {
            opacity: 0.5;
          }

        }
        .left-corner
        {
          border-top: 4px solid @grey;
          border-right: 4px solid @grey;
          &__text
          {
            color: @light-grey;
          }

          &:before
          {
            background: url('/images/corner.png') no-repeat -180px 0;
          }
        }
      }

      .info
      {
        display: none;
        &.disabled
        {
          display: block;
        }
      }
    }

  }
}
