body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
}
.clearfix:after {
  display: block;
  clear: both;
  content: '';
}
a {
  text-decoration: none;
  color: #1698d9;
}
h1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  text-align: center;
}
h1,
h2 {
  margin: 0;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
}
.wrapper:before {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  content: '';
}
.content {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}
.content h1 {
  margin: 47px 0 31px 0;
}

body {
  background: url('../images/bg.jpg') repeat;
}
.cats-feed {
  text-align: center;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
.cats-feed__item {
  display: inline-block;
  text-align: left;
  width: 320px;
  margin: 0 40px;
  overflow: hidden;
}
.cats-feed__item .info {
  font-size: 13px;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  display: block;
  text-align: center;
  margin: 16px 0;
}
.cats-feed__item .info a {
  color: #1698d9;
  border-bottom: 1px dashed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cats-feed__item .info a:hover {
  cursor: pointer;
  color: #2ea8e6;
}
.cats-feed__item .info.selected,
.cats-feed__item .info.disabled {
  display: none;
}
.cats-feed__item .info.disabled {
  color: #ffff66;
}
.cats-feed__item section .left-corner {
  height: 41px;
  background: #f2f2f2;
  width: 267px;
  margin-left: 45px;
  position: relative;
  border-top: 4px solid #1698d9;
  border-right: 4px solid #1698d9;
  border-radius: 0 10px 0 0;
  cursor: pointer;
}
.cats-feed__item section .left-corner__text {
  vertical-align: top;
  margin: 20px 0 10px 5px;
  font-size: 16px;
  color: #666;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cats-feed__item section .left-corner__text.active {
  display: none;
}
.cats-feed__item section .left-corner:before {
  content: '';
  width: 45px;
  height: 45px;
  background: url('/images/corner.png') no-repeat 0 0;
  display: inline-block;
  position: absolute;
  left: -45px;
  top: -4px;
}
.cats-feed__item section .container {
  border-bottom: 4px solid #1698d9;
  border-right: 4px solid #1698d9;
  border-left: 4px solid #1698d9;
  border-radius: 0 0 10px 10px;
  width: 308px;
  z-index: 3;
  background: #f2f2f2;
  padding: 11px 0 0 0;
  position: relative;
  cursor: pointer;
}
.cats-feed__item section .container__title {
  font-size: 48px;
  margin: 0 0 0 44px;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cats-feed__item section .container__filler {
  font-size: 24px;
  display: block;
}
.cats-feed__item section .container__options {
  margin: 16px 0 0 44px;
  min-height: 48px;
}
.cats-feed__item section .container__options .option {
  font-size: 14px;
  color: #666;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cats-feed__item section .container .cat {
  height: 268px;
  border-radius: 0 0 0 10px;
  margin: 36px 0 0 0;
}
.cats-feed__item section .container .cat__img {
  margin: 0;
  position: absolute;
  border-radius: 0 0 0 6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cats-feed__item section .container .weight {
  font-size: 21px;
  color: #fff;
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #1698d9;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cats-feed__item section .container .weight span {
  font-size: 42px;
  display: block;
  margin: 15px 0 0 0;
  line-height: 35px;
}
.cats-feed__item section:hover .left-corner {
  border-top: 4px solid #2ea8e6;
  border-right: 4px solid #2ea8e6;
}
.cats-feed__item section:hover .left-corner:before {
  background: url('/images/corner.png') no-repeat -45px 0;
}
.cats-feed__item section:hover .container {
  border-bottom: 4px solid #2ea8e6;
  border-right: 4px solid #2ea8e6;
  border-left: 4px solid #2ea8e6;
}
.cats-feed__item section:hover .container .weight {
  background-color: #2ea8e6;
}
.cats-feed__item.selected section .container {
  border-bottom: 4px solid #d91667;
  border-right: 4px solid #d91667;
  border-left: 4px solid #d91667;
}
.cats-feed__item.selected section .container .weight {
  background-color: #d91667;
}
.cats-feed__item.selected section .left-corner {
  border-top: 4px solid #d91667;
  border-right: 4px solid #d91667;
}
.cats-feed__item.selected section .left-corner:before {
  background: url('/images/corner.png') no-repeat -90px 0;
}
.cats-feed__item.selected .info {
  display: none;
}
.cats-feed__item.selected .info.selected {
  display: block;
}
.cats-feed__item.selected-hover .container {
  border-bottom: 4px solid #e62e7a;
  border-right: 4px solid #e62e7a;
  border-left: 4px solid #e62e7a;
}
.cats-feed__item.selected-hover .container .weight {
  background-color: #e62e7a;
}
.cats-feed__item.selected-hover .left-corner {
  border-top: 4px solid #e62e7a;
  border-right: 4px solid #e62e7a;
}
.cats-feed__item.selected-hover .left-corner__text {
  color: #e62e7a;
  display: none;
}
.cats-feed__item.selected-hover .left-corner__text.selected {
  display: inline-block;
}
.cats-feed__item.selected-hover .left-corner:before {
  background: url('/images/corner.png') no-repeat -135px 0;
}
.cats-feed__item.disabled section .container {
  border-bottom: 4px solid #b3b3b3;
  border-right: 4px solid #b3b3b3;
  border-left: 4px solid #b3b3b3;
}
.cats-feed__item.disabled section .container .weight {
  background-color: #b3b3b3;
}
.cats-feed__item.disabled section .container__title {
  color: #d4d4d4;
}
.cats-feed__item.disabled section .container__filler {
  color: #d4d4d4;
}
.cats-feed__item.disabled section .container__options .option {
  color: #d4d4d4;
}
.cats-feed__item.disabled section .container .cat {
  opacity: 0.5;
}
.cats-feed__item.disabled section .left-corner {
  border-top: 4px solid #b3b3b3;
  border-right: 4px solid #b3b3b3;
}
.cats-feed__item.disabled section .left-corner__text {
  color: #d4d4d4;
}
.cats-feed__item.disabled section .left-corner:before {
  background: url('/images/corner.png') no-repeat -180px 0;
}
.cats-feed__item.disabled .info {
  display: none;
}
.cats-feed__item.disabled .info.disabled {
  display: block;
}

